@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto/Roboto-LightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

html {
  box-sizing: border-box;
  font-family: "Roboto";
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: #1f2937;
  color: white;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 32px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav ul a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.hero-container {
  display: flex;
  gap: 2rem;
}

.hero {
  background-color: #1f2937;
  color: white;
  padding: 4rem 0;
}

.image-placeholder {
  flex: 0 0 50%;
  background-color: #7a7a7a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 8px;
}

.info-section {
  padding: 2rem 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 720px;
}

.box-container {
  display: flex;
  gap: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.inside-box {
  border: 3px solid #3882f6;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 6rem 0;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.quote-container {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.quote-author {
  font-weight: bold;
}
